@import '../../styles/style.scss';

.default-page {
  &__container {
    flex: 0.75;
    width: 100%;
    height: 100%;
    min-width: 260px;
    @media (max-width: $breakpoint-large) {
      flex: 0.8;
    }
    @media (max-width: $breakpoint-small) {
      display: none;
    }
  }

  &__content {
    color: $black;
    height: 100%;
    text-align: center;
    @include flexContainer(column, center, center);

    img {
      max-width: 300px;
      margin-bottom: 3rem;
      @media (max-width: $breakpoint-medium) {
        max-width: 250px;
      }
    }
    p {
      color: $dark-grey;
      margin-top: 0.5rem;
      letter-spacing: 0.3px;
      animation: titleMove 1s 0.2s ease-in-out;
      @media (max-width: $breakpoint-medium) {
        max-width: 90%;
      }
    }
  }

  @keyframes titleMove {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
