.chat {
  display: flex;
  flex-direction: column;
  /* flex: 0.65; */
  width: 65%;
  height: 100%;
}

.chat-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid lightgray;
}
.chat-header__info {
  flex: 1;
  padding-left: 1.5rem;
}

.chat-header__info > h3 {
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.chat-header__info > p {
  color: grey;
  white-space: nowrap;
}

.back-btn {
  display: none;
  margin-right: 0.3rem;
}

.back-btn__active {
  display: none;
}

.chat-body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  padding: 3rem 3rem 0 3rem;
  overflow-y: auto;
}

.chat-footer {
  display: flex;
  align-items: center;
  border-top: 1px solid lightgray;
  height: 9vh;
  padding: 0 0.7rem;
}

.chat-footer > .MuiSvgIcon-root {
  color: gray;
}

.last-seen {
  margin-right: 0.3rem;
}

@media (max-width: 480px) {
  .chat {
    width: 100%;
    /* position: absolute; */
    /* display: none; */
  }
  .back-btn {
    display: block;
  }
}
