@import '../../styles/style.scss';

.sidebar {
  @include flexContainer(row, space-around);
  background: $primary-dark-purple; // width: 30%;
  min-width: 300px;
  flex: 0.25;
  @media (max-width: $breakpoint-large) {
    min-width: 250px;
    flex: 0.2;
  }
  @media (max-width: $breakpoint-small) {
    flex: 1;
    position: relative;
    justify-content: space-between;
  }

  &__column {
    @include flexContainer($direction: column);
    min-width: 230px;
    flex: 0.8;
    margin: 1rem;
    margin-left: 0;
    border-radius: 10px;
    background: $primary-light-purple;
    @media (max-width: $breakpoint-large) {
      min-width: 200px;
    }
    @media (max-width: $breakpoint-small) {
      margin: 0;
      padding: 1rem;
      flex: 0.9;
      border-radius: 0;
    }
  }

  &__chats-nav {
    font-size: 1.2rem;
    @include flexContainer($justify: space-evenly);

    .nav-link {
      color: $white;
      opacity: 0.5;
      padding: 1rem;
      font-size: 1.6rem;
      border-radius: 10px;
      transition: 0.2s all ease-in;
    }

    .active-route {
      opacity: 1;
      background-color: rgb(95, 93, 129);
    }
  }

  &__rooms-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.hide-sidebar {
  display: none;
}

.no-results {
  color: $light-grey;
  padding: 2rem;
  text-align: center;
  font-size: 1.4rem;
}
