.message {
  position: relative;
  padding: 1rem;
  width: fit-content;
  border-radius: 1rem;
  background-color: #ffffff;
  margin-bottom: 3rem;
}

.message:last-child {
  margin-bottom: 1rem;
}

.message-timestamp {
  margin-left: 1rem;
  font-size: xx-small;
}

.message-author {
  position: absolute;
  top: -1.5rem;
  font-weight: 800;
  font-size: xx-small;
}

.received {
  margin-left: auto;
  background-color: #dcf8c6;
}
