.input-form {
  flex: 1;
  display: flex;
  justify-content: space-between;
  /* max-height: 65px; */
  padding: 0 0.5rem;
  width: 100%;
}

.input-form > input {
  flex: 1;
  border-radius: 20px;
  padding: 1rem;
  margin-right: 0.8rem;
  border: none;
  outline-width: 0;
}
