@import '../../../styles/style.scss';

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: $bg-dark-grey;
}

.open {
    display: block;
}

.sidebar-header {
    @include flexContainer($justify: space-between, $align: center);
    padding: 1.2rem 1rem;

    &__user-data {
        width: 100%;
        @include flexContainer($align: center);
        .user-avatar {
            position: relative;
            border-radius: 50%;
            background-color: transparent;
        }

        form {
            @include flexContainer();
            input {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                background: $white;
                font-size: 1.4rem;
                color: $text-dark-grey;
                margin: 0 1em;
                padding: 0.3rem;
                font-family: 'poppins', sans-serif;
            }
        }

        h4 {
            color: $white;
            padding: 0.3rem;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
            margin: 0 0.5em;
            @media (max-width: $breakpoint-small) {
                color: $white;
            }
        }
    }
    .name-edit-btn {
        color: $light-grey;
        font-size: 1.2rem;
        cursor: pointer;
        margin-left: auto;

        .fa-check {
            color: $primary-green;
        }
    }
}
