html,
body {
    position: fixed;
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;

    body {
        color: $black;
        min-height: -moz-available; /* WebKit-based browsers will ignore this. */
        min-height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
        min-height: stretch;
        background-color: $primary-bg;
        overscroll-behavior: contain;
        overflow: hidden;
        font-family: $font-content;

        #root {
            height: 100%;
            position: relative;
            overflow: hidden;
        }

        h1,
        h2,
        h3 {
            margin: 0;
            padding: 0;
        }

        p {
            margin: 0;
            font-size: 1.4rem;
        }

        a {
            text-decoration: none;
            color: $black;
        }
    }
}
