@mixin btn {
    font-family: inherit;
    /* font-size: inherit; */
    background: transparent;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
    /* display: flex; */
    margin: 0;
    padding: 0;
}

@mixin position-absolute-to-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexContainer($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin chatRoom {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.5rem 1.2rem;
    cursor: pointer;
    border-bottom: 0.1px solid #b8b8b87c;
    transition: 0.4s all ease-out;
    outline: none;

    &:hover {
        background-color: #414059;
    }
}

