@mixin btn {
    font-family: inherit;
    /* font-size: inherit; */
    background: transparent;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
    /* display: flex; */
    margin: 0;
    padding: 0;
}

@mixin position-absolute-to-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexContainer($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin chatRoom {
    width: 100%;
    display: flex;
    padding: 1.5rem;
    cursor: pointer;
    border-bottom: 1px solid $bg-light-grey;
    outline: none;

    &:hover {
        background-color: #ededed;
    }
}
// @mixin animation-title-move {
//     @keyframes titleMove {
//         from {
//             opacity: 0;
//         }
//         to {
//             opacity: 1;
//         }
//     }
// }
