@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 1.2rem;
    margin: 0;
}

input {
    font-family: 'Open Sans', sans-serif;
}

button {
    font-family: inherit;
}
