//Primay Color
$primary-green: #03a688;
$primary-dark-purple: #414059;
$primary-light-purple: #5f5d81;
$primary-bg: #e4f2ee;

// Other colors:
$black: #333;

$white: #fff;
$light-white: #fafafa;
$dark-white: #f5f5f5;

$light-grey: #d9d9d9;
$dark-grey: rgb(128, 128, 128);
$text-dark-grey: #555;
$text-light-grey: rgb(235, 235, 236);
$placeholder-grey: #999;

//Background
$bg-default: #f0f0f0;
$bg-light-grey: #f6f6f6;
$bg-dark-grey: rgba(243, 241, 241, 0.1);

//Error
$error: rgb(250, 92, 92);
$success: #2bc769;

//Box Shadows
$box-shadow-soft: -1px 4px 10px -6px rgba(0, 0, 0, 0.75);

//Fonts
$font-content: ('Open Sans', sans-serif);
$font-header: ('Poppins', sans-serif);

//Media-queries
$breakpoint-huge: 900px;
$breakpoint-large: 780px;
$breakpoint-medium: 620px;
$breakpoint-small: 545px;
