.sidebar {
  display: flex;
  flex-direction: column;
  width: 35%;
  /* flex: 0.35; */
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-right: 1px solid lightgray;
}

.sidebar-header__nav-section {
  display: flex;
  flex-direction: row;
}

.sidebar-header__user-data {
  display: flex;
  align-items: center;
}

.sidebar-header__user-data > p {
  color: grey;
  font-weight: 600;
  margin-left: 1em;
}

.sidebar-search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 1rem;
}

.sidebar-search__body {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 20px;
}

.sidebar-search__body > .MuiSvgIcon-root {
  color: gray;
}

.sidebar-search__body > input {
  outline-width: 0;
  border: none;
  margin-left: 1rem;
  width: 100%;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba(243, 241, 241, 0.1);
}

.model {
  position: relative;
}

.dropdown-model {
  display: none;
  background: #ededed;
  position: absolute;
  top: 4rem;
  left: 2rem;
  min-width: 180px;
  min-height: 50px;
  z-index: 200;
  box-shadow: 1px 1px 5px 2px #e0e0e0;
  border-radius: 5px;
}

.dropdown-model__items {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.dropdown-model__item {
  display: flex;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.dropdown-model__item:last-child {
  border: none;
}

.dropdown-model__item:hover {
  background-color: #e2e0e0;
}

.dropdown-model button {
  width: 100%;
  padding: 1.5rem 2.5rem;
  justify-content: space-between;
}

.dropdown-model button:focus {
  outline: 0;
}

.MuiSvgIcon-root {
  color: gray;
}

.open {
  display: block;
}

.rooms-container {
  background-color: white;
  flex: 1;
  overflow-y: auto;
}

.dropdown__btn {
  display: flex;
  width: 100%;
}

.chats-nav {
  font-size: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #f6f6f6;
}

.chats-nav > .nav-link {
  color: #03a688;
  padding: 0.3rem;
}

.active-route {
  border-bottom: 2px solid #03a688;
}

.hide-sidebar {
  display: none;
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    position: relative;
  }

  .model {
    position: static;
  }

  .dropdown-model {
    top: 0;
    right: 0;
    left: auto;
  }
}

/* @media (max-width: 480px) {
  .sidebar-header__right {
    flex-direction: column;
    margin: 0 1rem;
  }
} */
