@import '../../../styles/style.scss';

.room {
  @include chatRoom;

  .user-avatar {
    position: relative;
    border-radius: 50%;
    background-color: $bg-light-grey;
  }

  &__info {
    width: 100%;
    margin-left: 1.5rem;
    color: $dark-white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* position: relative; */

    &__container {
      @include flexContainer($justify: space-between, $align: flex-start);

      &:first-child {
        margin-bottom: 0.2rem;
      }

      .timestamp {
        color: $primary-green;
        color: $light-grey;
        font-size: 1.1rem;
        margin-left: 0.5rem;
        @media (max-width: $breakpoint-small) {
          font-size: 1.2rem;
        }
      }

      h2 {
        font-size: 1.4rem;
        margin-bottom: 0.8rem;
        max-width: 80%;
        overflow: hidden;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
        word-wrap: break-word;
        @media (max-width: $breakpoint-small) {
          font-size: 1.6rem;
        }
      }

      &__message {
        display: inline-block;
        max-width: 90%;
        color: $light-grey;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-bottom: 0.2rem;
        font-size: 1.2rem;
        @media (max-width: $breakpoint-small) {
          font-size: 1.4rem;
        }
      }

      &__notification {
        display: none;
        /* position: absolute; */
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: $primary-green;
        position: relative;

        .room__notifications__num {
          color: $white;
          display: grid;
          place-items: center;
          font-weight: 800;
          font-size: 1rem;
          padding: 0.2rem;
        }
      }
    }
  }
}

.selected-room {
  background-color: $primary-dark-purple;
}

.bold {
  font-weight: 800;
}

.open {
  display: block;
}
