.room,
.user {
  width: 100%;
  display: flex;
  padding: 1.5rem;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
  outline: none;
}

.room:hover,
.selected-room {
  background-color: #ededed;
}

.room__info {
  width: 100%;
  margin-left: 1.5rem;
  /* position: relative; */
}

.room__info__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room__info__container:first-child {
  margin-bottom: 0.2rem;
}

.room__info__container > h2 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.room__info__message {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 15em;
}

.timestamp {
  color: #03a688;
  font-size: 1.1rem;
}

.room__notification {
  display: none;
  /* position: absolute; */
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #03a688;
  position: relative;
}

.user-avatar {
  position: relative;
  border-radius: 50%;
  /* border: 2px solid #fff; */
  background-color: #f6f6f6;
}

.user-active {
  position: absolute;
  bottom: 0;
  right: 2px;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  border: 1.5px solid #fff;
  background-color: #03a688;
}

.bold {
  font-weight: 800;
}

.open {
  display: block;
}

.room__notification__num {
  position: absolute;
  top: 10%;
  left: 30%;
  color: #ffff;
  font-weight: 800;
  font-size: 0.9rem;
}

.no-results {
  color: gray;
  padding: 3rem;
  text-align: center;
}
