@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alike&display=swap");

span {
  font-size: 1.2rem;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.auth__heading {
  /* font-family: "Open Sans", sans-serif; */
  font-size: 2.3rem;
  padding: 1.5rem 0;
  margin-bottom: 0.7rem;
}

.social {
  border: 1px solid #dddddd;
  border-radius: 50%;
  margin: 0 auto;
  height: 36px;
  width: 36px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 2rem 0;
  height: 5rem;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.form__error {
  font-size: 1rem;
  color: rgb(250, 92, 92);
  font-weight: 600;
  width: fit-content;
  display: block;
  margin-top: 2rem;
}

/* .form__input-field {
  border-radius: 5px;
  outline: transparent;
  background-color: #ffff;
  border: 1.5px solid transparent;
  box-shadow: -1px 4px 10px -5px #dadbd3;
  color: #2979ff;
  padding: 0.8rem 1rem;
  width: 100%;
  font-family: inherit;
  font-family: FontAwesome, "Open Sans", sans-serif;
  word-spacing: 0.3rem;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 1.2rem;
  margin-top: 1.7rem;
  opacity: 0.9;
} */

/* .form__input-field:-webkit-autofill,
.form__input-field:-webkit-autofill:hover,
.form__input-field:-webkit-autofill:focus,
.form__input-field:focus,
.form__input-field:active {
  -webkit-text-fill-color: #2979ff;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: -1px 4px 10px -5px #2979ff;
} */

.form__button {
  font-family: inherit;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #fff !important;
  text-decoration: none;
  background: #2979ff;
  padding: 0.8rem;
  border-radius: 30px;
  border: none;
  width: 60%;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 1.5rem 0;
  outline: none;
}

.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}
/* .google-auth__button {
  font-family: inherit;
  font-size: 1.2rem;
  background-color: #03a688;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffff;
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  width: 100%;
  cursor: pointer;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #2c8f6e, #38d39f, #32be8f);
  background-size: 200%;
  transition: 0.5s;
}

.google-auth__button:hover {
  background-position: right;
} */

.google-auth__button > span {
  margin-left: 1rem;
  text-transform: capitalize;
}

.signUp-section {
  margin-bottom: 0;
  letter-spacing: 0.8px;
}

.signUp-p {
  font-size: 1.1rem;
  margin-top: 1.5rem;
}

.signUp-span {
  color: #2979ff;
  display: block;
  font-weight: 600;
  font-family: inherit;
  margin-top: 0.5rem;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 560px) {
  .auth__inner-container {
    width: 80%;
  }

  .auth-wrapper {
    overflow: auto;
  }
}

@media (max-width: 1050px) {
  .auth-container {
    grid-column-gap: 2rem;
  }
}

@media (max-width: 900px) {
  .auth__inner-container {
    min-width: 290px;
  }

  .bg-image img {
    max-width: 400px;
  }
}

@media (max-width: 780px) {
  .bg-image {
    display: none;
  }

  .wave {
    display: none;
  }

  .auth__inner-container {
    grid-column: 1/3;
  }
}

@keyframes titleMove {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logoMove {
  0% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}
