.auth__inner-container {
  width: 30%;
}

.auth__heading {
  color: white;
  font-size: 3.2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid white;
  letter-spacing: 1px;
}

.form__error {
  font-size: 1.5rem;
  color: rgb(250, 92, 92);
  font-weight: 400;
  width: fit-content;
  display: block;
  margin-bottom: 0.3rem;
  margin-top: 2rem;
}

.form__input-field {
  border-radius: 0;
  padding: 0.8rem 1rem;
  width: 100%;
  font-family: inherit;
  margin-top: 1.5rem;
}

.form__button {
  font-family: inherit;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;
  cursor: pointer;
  letter-spacing: 1px;
}

button:focus {
  outline: 0;
}

.mt-20 {
  margin-top: 2rem;
}

.signUp-section {
  margin-bottom: 0;
  letter-spacing: 1px;
}

.signUp-p {
  font-size: 0.9rem;
  color: #fff;
  margin-top: 1.5em;
}

.signUp-span {
  color: #2979ff;
  display: block;
  font-size: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 560px) {
  .auth__inner-container {
    width: 90%;
  }
}
