.dashboard {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #dadbd3;
}

.dashboard__body {
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

/* .dashboard-container {
    margin: 0 auto;
    min-width: 400px;
    max-width: 1000px;
    max-height: 800px;
    width: 90%;
    height: 95vh;
    background: #ccc;
    border-radius: 10px;
  }
  
  .search-container,
  .conversation-list,
  .new-message-container {
    background-color: #2979ff;
  }
  
  .search-container {
    border-radius: 10px 0 0 0;
  } */
