.dashboard {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #dadbd3;
}

.dashboard__body {
  display: flex;
  overflow: hidden;
  background-color: #ededed;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
