@import '../../../styles/style.scss';

.sidebar-search {
    @include flexContainer($align: center);
    background-color: $bg-light-grey;
    padding: 1rem;

    &__body {
        @include flexContainer($align: center);
        background-color: $white;
        width: 100%;
        padding: 0.5rem;
        padding-left: 1rem;
        border-radius: 20px;

        .MuiSvgIcon-root {
            color: $dark-grey;
            @media (max-width: $breakpoint-small) {
                color: $dark-grey;
            }
        }

        input {
            outline-width: 0;
            border: none;
            margin-left: 1rem;
            width: 100%;
            padding: 0.2rem;
        }
    }
}

/* @media (max-width: $breakpoint-small) {
    .sidebar-header__right {
      flex-direction: column;
      margin: 0 1rem;
    }
  } */
