@import '../../../styles/style.scss';

.sidebar-search {
    @include flexContainer($direction: column, $align: flex-start);
    padding: 3rem 1rem;

    .chat-section {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 2rem;

        h3 {
            color: $white;
            text-transform: capitalize;
        }

        .new-chat-button {
            color: $primary-green;
            font-size: 2rem;
        }
    }

    &__body {
        @include flexContainer($align: center);
        width: 100%;
        padding: 0.5rem;
        padding-left: 1rem;
        border-radius: 20px;
        color: $light-grey;
        background-color: $white;

        input {
            outline-width: 0;
            border: none;
            margin-left: 1rem;
            width: 100%;
            padding: 0.4rem;
        }

        .fas {
            color: $light-grey;
        }
    }
}
