@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  color: #162226;
  font-size: 1.6rem;
  height: 100%;
  background: #f5f2f5;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  /* font-family: "Crimson Text", serif; */
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 1.2rem;
  margin: 0;
}

input {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #162226;
}

button {
  font-family: inherit;
  /* font-size: inherit; */
  background: transparent;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  /* display: flex; */
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  p {
    font-size: 1.3rem;
  }
}
