@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", "Roboto";
  color: #162226;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.2rem;
  margin: 0;
}

input {
  font-family: "Montserrat", "Roboto";
}

a {
  text-decoration: none;
  color: #162226;
}

button {
  font-family: inherit;
  /* font-size: inherit; */
  background: transparent;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  /* display: flex; */
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  body {
    font-size: 2rem;
  }

  p {
    font-size: 1.3rem;
  }
}
