@import '../../styles/style.scss';

.auth-content {
    background-color: $white;
    @include flexContainer(row, flex-start, center);
    text-align: center;
    z-index: 10;
    height: 100%;
    padding: 0 5rem;
    @media (max-width: $breakpoint-large) {
        padding: 2rem 4rem;
    }
    @media (max-width: $breakpoint-medium) {
        justify-content: center;
        padding: 0;
        width: 100%;
        min-height: 100%;
        z-index: -1;
        overflow-y: auto;
    }

    .form {
        width: 300px;
        @include flexContainer(column, center);
        @media (max-width: $breakpoint-small) {
            min-height: 100%;
            // padding: 0.5rem;
        }

        &__heading {
            font-size: 2rem;
            padding: 1.5rem 0;
            margin-bottom: 0.5rem;
            color: $black;
            @media (max-width: $breakpoint-large) {
                padding-top: 0;
            }
            // @media (max-width: $breakpoint-medium) {
            //     font-size: 1.8rem;
            //     // padding: 0.5rem;
            // }
        }

        &__error {
            font-size: 1.2rem;
            color: $error;
            font-weight: 600;
            display: block;
            margin-bottom: 1rem;
            text-align: left;
        }

        .google-auth-btn {
            font-family: inherit;
            font-size: 1.4rem;
            letter-spacing: 0.6px;
            max-width: 300px;
            text-decoration: none;
            padding: 1.2rem 1rem;
            width: 100%;
            cursor: pointer;
            color: $primary-green;
            background: $white;
            font-family: 'Poppins', sans-serif;
            text-transform: capitalize;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
            transition: 0.5s;
            border: 1px solid $primary-green;

            &:hover {
                box-shadow: $box-shadow-soft;
            }

            .fab {
                margin-left: 0.3rem;
            }
        }

        .separate-section {
            margin: 3rem 0 2rem 0;
            text-align: center;
            @media (max-width: $breakpoint-medium) {
                margin: 2.5rem 0 1.5rem 0;
            }
            span {
                font-size: 1.4rem;
                letter-spacing: 0.5px;
            }
        }

        .input-container {
            position: relative;
            display: grid;
            grid-template-columns: 7% 93%;
            margin: 2.5rem 0;
            padding: 0.5rem 0;
            border-bottom: 2px solid $light-grey;

            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                margin-bottom: 1rem;
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                bottom: -2px;
                width: 0%;
                height: 2px;
                background-color: $primary-green;
                transition: 0.3s;
            }

            &:before {
                right: 50%;
            }

            &:after {
                left: 50%;
            }

            .icon {
                color: $light-grey;
                @include flexContainer(row, center, center);
                i {
                    transition: 0.3s;
                }
            }

            .input-div {
                position: relative;
                height: 45px;

                h5 {
                    font-family: 'poppins', sans-serif;
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $placeholder-grey;
                    font-size: 1.6rem;
                    transition: 0.3s;
                }

                input {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    background: none;
                    padding: 0.5rem 0.7rem;
                    font-size: 1.4rem;
                    color: $text-dark-grey;
                    font-family: 'poppins', sans-serif;

                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus,
                    &:-webkit-autofill:active {
                        transition: background-color 5000s ease-in-out 0s;
                        -webkit-text-fill-color: $text-dark-grey !important;
                    }
                }

                .placeholder {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $primary-green;
                    font-size: 1.2rem;
                    transition: 0.3s;
                    display: none;
                }
            }

            &.focus {
                &:before,
                &:after {
                    width: 50%;
                }

                .input-div {
                    h5 {
                        /* transform: translateY(-150%); */
                        top: -0.5px;
                        font-size: 1.4rem;
                        opacity: 0.7;
                    }

                    .placeholder {
                        /* transform: translateY(-150%); */
                        top: -0.5px;
                        opacity: 0.7;
                        display: block;
                    }

                    h5,
                    .placeholder {
                        @media (max-width: $breakpoint-medium) {
                            font-size: 1.2rem;
                        }
                    }
                }

                .icon {
                    i {
                        color: $primary-green;
                    }
                }
            }
        }

        &__btn {
            font-family: inherit;
            font-size: 1.5rem;
            text-transform: capitalize;
            color: $white !important;
            text-decoration: none;
            background: $primary-green;
            background-image: linear-gradient(to right, #67d6c2, $primary-green, #06725e);
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            background-size: 200%;
            transition: 0.5s;
            padding: 1.2rem 1rem;
            border-radius: 5px;
            border: none;
            width: 100%;
            cursor: pointer;
            letter-spacing: 1px;
            margin: 1.5rem 0;
            outline: none;
            @media (max-width: $breakpoint-medium) {
                font-size: 1.4rem;
            }
            &:hover {
                background-position: right;
            }
        }

        .navigate-section {
            margin-bottom: 0;
            text-align: left;
            letter-spacing: 0.5px;
            font-size: 1.4rem;
            margin-top: 0rem;

            .navigate-span {
                color: $primary-green;
                display: inline-block;
                font-weight: 600;
                font-family: inherit;
                margin-top: 0.5rem;
                cursor: pointer;
            }

            a {
                margin-left: 0.5rem;
            }
        }
    }
}

@keyframes logoMove {
    0% {
        transform: translateY(0%);
    }
    60% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}
